body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff9db; /* Light yellow background */
    color: #333;
    
}
.main-content {
    flex: 1;
    display: flex;
    
}

.sidebar {
    min-width: 250px;
    background-color: #ffecb3; /* Light yellow for sidebar */
    padding-top: 20px;
}
.sidebar a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
.sidebar a:hover {
    background-color: #b5b5ac; /* Slightly darker yellow on hover */
}
.header {
    background-color: #fff9db; /* Match the body background */
    color: #333;
    padding: 1rem;
    border-bottom: 1px solid #ffecb3;
}
.content {
    padding: 2rem;
    flex-grow: 1;
}
.card {
    background-color: #fff5cc; /* Very light yellow for cards */
    border: none;
}
.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #ffecb3;
}

.tr {
    background-color: #fff5cc;
}